//colors
$primary-color: #12507A;
$dark-primary: #042d47;
$secondary-color: #3e3e3e;
$light-color: #ffffff;

$success-color: #4caf50;
$danger-color: #f44336;
$info-color: #2196f3;
$warning-color: #ff9800;
$yts-dark-color: #1d1d1d;
$yts-green-color: #75c74e;
$yts-footer-dark: #171717;
$yts-footer-grey: #919191;
$yts-active-green: #6ac045;
$page-button-green: #52a52f;
$pagination-green: #5DA93C;
$text-color: #2e2e2e;
$torrent-bg:rgba(27,27,35,.4);

$torrent-hover: #d5d5d5;

$lang-text-color:#ACD7DE;
//font-sizes
$title-size: 2.4rem;
$accent-size: 1.6rem;

//font-family
$title-font: 'Poppins', 'sans-serif';
$accent-font: 'Poppins', 'sans-serif';
$movie-font: 'Roboto', 'sans-serif';
$yts-font: 'Arimo', 'Arial', 'Helvetica', "Lucida Grande", 'sans-serif';

//sizes
$xs: 4px;
$sm: 8px;
$md: 12px;
$md-1: 16px;
$lg: 24px;
$xl: 32px;
$xxl: 40px;
$three-xl: 48px;
$four-xl: 60px;
$five-xl: 68px;


//layouting
$wrapper-val: 7.5vw;